.App {
  text-align: center;
  align-items: center;
  min-height: 300px;
  padding: 30px;
  border-radius: 100px;
  max-width: 600px;
  margin: 30px auto;
  
}

h1 {
  font-family: 'EB Garamond', serif;
  color: #22333b;
}

.about-chronolog {
  font-family: Helvetica, sans-serif;
}

.chronolog-header {
  max-width: 1000px;
}
