.graph {
  text-align: center;
  align-items: center;
  align-content: center;
  /*min-height: 300px;*/
  padding: 30px;
  border-radius: 10px;
  /*max-width: 600px;*/
  /*margin: 30px auto;*/
  border: 1px solid #22333b;
  justify-content: center;
  display: flex;
}

h1 {
  font-family: "Baskerville", "Times New Roman", serif;
  color: #22333b;
}

.about-chronolog {
  font-family: Helvetica, sans-serif;
}

.chronolog-header {
  max-width: 600px;
}

.bookViz h1 {
  text-align: center;
  padding: 20px;
  font-size: 40pt;
}
