.color-nav {
  background-color: #22333b;
  font-family: "EB Garamond", serif;
  font-weight: 500;
}

.nav-brand {
  font-size: 16pt;
}

/* .dropdown {
  font-family: Helvetica, sans-serif;
  font-size: 12pt;
} */
