{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Input a Book! {% endblock %}</h1>
    <h4>Please paste in the story you'd us to analyse.</h4>

    <form method="post">
        <br>
        <label for="title">Title</label>
        <br>
        <input type="text" name="title" placeholder="Story's title" value="{{ request.form['title'] }}"/>
        <br>
        <label for="text">Text</label>
        <br>
        <textarea name="text" placeholder="Story's text..." rows="15" cols="60">{{ request.form['text'] }}</textarea>
        <br>
        <button type="submit">Submit</button>
    </form>

{% endblock %}